# version: "3"
services:
    web:
        container_name: "portfolio-staging"
        image: ${APP_IMAGE}
        env_file:
            - .env
        restart: "unless-stopped"

    nginx:
        build: 
          context: .
          dockerfile: docker/Dockerfile.nginx
        container_name: nginx-proxy
        volumes:
        - ./nginx/log:/var/log/nginx
        ports:
        - "8000:80"
        # depends_on:
        # - web
        restart: unless-stopped